<!DOCTYPE html>
<html>
<head>
  <title>UserAssign</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
	<% if current_user %>
		<form action="<%= logout_path %>" method="POST">
			<input type="hidden" name="_method" value="delete"/>
			<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
			<button type="submit">Logout</button>
		</form>
		<form action="<%= destroy_user_path @user.id %>" method="POST">
			<input type="hidden" name="_method" value="delete"/>
			<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
			<button type="submit">Delete Account</button>
		</form>
	<% end %>
</header>

<body>

<%= yield %>

</body>
</html>
  